.high-beam {
    background-image: url(../assets/highbeam.png);
    height: 32px;
    width: 32px;
    display: block;
} 

.heat-seat {
    background-image: url(../assets/heatseat.png);
    height: 30px;
    width: 30px;
    display: block;
}

.blue{
    color: blue !important;
}

.heat-seat-red {
    background-image: url(../assets/heatseatRed.png);
    height: 30px;
    width: 30px;
    display: block;
}
.low-beam {
    background-image: url(../assets/lowbeam.png);
    height: 32px;
    width: 32px;
    display: block;
}

.heat-seat.body-theme-char, .high-beam.body-theme-char {
    filter: contrast(0.5);
    transition: filter 0.4s;
}

.heat-seat.body-theme-char:hover, .high-beam.body-theme-char:hover {
    filter: contrast(1);
}

.color-red{
    color: red;
}
