.high-beam {
    background-image: url(../assets/highbeam.png);
    height: 32px;
    width: 32px;
    display: block;
} 

.heat-seat {
    background-image: url(../assets/heatseat.png);
    height: 30px;
    width: 30px;
    display: block;
}

.heat-seat-red {
    background-image: url(../assets/heatseatRed.png);
    height: 30px;
    width: 30px;
    display: block;
}

/* .heat-seat:hover{
    background-image: url(../assets/heatseatRed.png);

} */

.heat-seat.dashboard-text, .high-beam.dashboard-text {
    filter: contrast(0.5);
    transition: filter 0.4s;
}

.heat-seat.dashboard-text:hover, .high-beam.dashboard-text:hover {
    filter: contrast(1);
}
