.dashboard-text {
    color: #595959;
    transition: color 0.4s;
}

.dashboard-text:hover {
    color: black;
}

.dashboard-text-dark {
    color: lightgray;
    transition: color 0.4s;
}

.dashboard-text-dark:hover {
    color: white;
}
