html, body {
  background-image: var(--body-bg-gradient); 
  background-color: var(--body-bg-fallback);
  height: 100%;
}

body {
  margin: 0;
  padding: 70pt 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-theme-char {
  color: var(--body-theme-char-color);
  transition: color 0.4s;
}

.body-theme-char:hover {
  color: var(--body-theme-char-hover-color);
}

.theme-light {
  --body-bg-gradient: linear-gradient(to top left, lightgray 0%, white 100%);
  --bodu-bg-fallback: lightgray;

  --body-theme-char-color: #595959;
  --body-theme-char-hover-color: black;

  --onboard-welcome-card-bg-color: transparent;

  --heat-seat-bg-image: url(assets/heatseat.png);
  --high-beam-bg-image: url(assets/highbeam.png);
  --low-beam-bg-image: url(assets/lowbeam.png);
}

.theme-dark {
  --body-bg-gradient: linear-gradient(to top left, black 0%, darkgray 100%);
  --bodu-bg-fallback: lightgray;

  --body-theme-char-color: lightgray;
  --body-theme-char-hover-color: white;

  --onboard-welcome-card-bg-color: rgb(78, 78, 78);

  --heat-seat-bg-image: url(assets/heatseat-dark.png);
  --high-beam-bg-image: url(assets/highbeam-dark.png);
  --low-beam-bg-image: url(assets/lowbeam-dark.png);
}
